html, body {
	height: 100%;
}

body {
	background: #fcfcfc;
}

.navbar-inverse {
	background-color: #2e77b8;
	border: 0;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-text {
	color: rgba(255, 255, 255, 0.9);
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
	color: #fff;
}

.navbar-inverse .navbar-link {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: underline;
}

.alert p {
	margin-bottom: 10px;
}

#app {
	min-height: 100%;
}

.content .row {
	min-height: calc(100vh - 50px);
}

.equal {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}

.oss-widget-interface {
	display: inline-block;
	margin: 14px 15px 0 0;
}

#os-share-more {
	right: 20px;
}

@media (min-width: 768px) {
	.row.equal {
		display: flex;
		flex-wrap: wrap;
	}
}